<!DOCTYPE html>
<html>
  <html lang="es-mx">
  <head>
    <meta http-eqiv="content-type" content="text/html;charset=utf-8">
    <title>Go con Ejemplos</title>
    <link rel=stylesheet href="site.css">
  </head>
  <body>
    <div id="intro">
      <h2><a href="./">Go con Ejemplos</a></h2>
      <p>
        <a href="http://golang.org">Go</a> es un
        lenguaje de programaci&oacute;n de fuente abierta
        dise&ntilde;ado para construir software simple,
        r&aacute;pido y confiable.
      </p>

      <p>
        <em>Go con Ejemplos</em> es una introducci&oacute;n
        a Go utilizando programas de ejemplo documentados.
        Puedes comenzar con el <a href="hola-mundo">primer ejemplo</a> o
        ver la lista completa abajo.
      </p>

      <ul>
      {{range .}}
        <li><a href="{{.Id}}">{{.Name}}</a></li>
      {{end}}
      </ul>
      <p class="footer">
        by <a href="https://twitter.com/mmcgrana">@mmcgrana</a> | <a href="mailto:mmcgrana@gmail.com">feedback</a> | <a href="https://github.com/mmcgrana/gobyexample">source</a> | <a href="https://github.com/mmcgrana/gobyexample#license">license</a>
      </p>
    </div>
  </body>
</html>
